# Science Tools and Ecosystem

In this notebook we are going to learn about different tools used in the Data Science Ecosystem.

**Objectives**
+ List popular languages for Data Science.
+ List of some commonly used libraries in Data Scientists.
+ Few examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Scipy

| Data Science Tools |
| -------------- |
| Jupyter lab |
| R Studio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200
Total_hours = 200 / 60
Total_hours

3.3333333333333335

## Author
A.Rakesh